<h1>{{oneBook.title}}</h1>

<span>Written by: {{oneBook.author}}</span>

<p>Summary: {{oneBook.description}}</p>

<p>Rating: {{oneBook.rating}}/10</p>


<a class="return-button" href="/books">Return</a>